table {
    width: 100%;
}

.content div {
    width: 100%;
    padding: 0 20px;
}

.mat-elevation-z8 { box-shadow: none; }

.approveClaimBtn {
    background-color: #28a745;
    color: #fff;
    margin-right: 10px;
}

.approved, .pending, .rejected {
    display: block;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    width: 80px;
    text-align: center;
}

.approved { background-color: #28a745; }
.pending { background-color: #ffc107; }
.rejected { background-color: #dc3545; }