<mat-sidenav-container style="height: 500px">
  <mat-sidenav mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a mat-button routerLink="/admin/claims" routerLinkActive="active"><mat-icon>assignment</mat-icon> Claims</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-button routerLink="/admin/adduser" routerLinkActive="active"><mat-icon>person_add</mat-icon> Add User</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-button routerLink="/admin/removeuser" routerLinkActive="active"><mat-icon>remove_circle</mat-icon> Remove User</a>
      </mat-list-item>
    </mat-list>    
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>