.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-form-field {
    display: block;
    width: 100%;
}

.radioBtnLbl {
    display: block;
    margin-bottom: 10px;
    color: rgba(0,0,0,.54);
}

mat-radio-button { color: rgba(0,0,0,.54); }

.claimFormBtns {
    display: flex;
    justify-content: space-between;
}