<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form class="border p-3" [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
        <h3 class="text-center text-uppercase font-italic mb-3">Login Form</h3>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="password">
        </div>
        <button type="submit" class="btn btn-info btn-block">Sign In</button>
        <div class="form-group">
          <p class="text-center">New User? <a routerLink="/register" class="font-italic">Click Here</a></p>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>