<!-- <div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form class="border p-3" [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
        <h3 class="text-center text-uppercase font-italic mb-3">Login Form</h3>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="password">
        </div>
        <button type="submit" class="btn btn-info btn-block">Sign In</button>
        <div class="form-group">
          <p class="text-center">New User? <a routerLink="/register" class="font-italic">Click Here</a></p>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div> -->

<mat-grid-list cols="4" gutterSize="5px" rowHeight="500px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
        <h2 class="formHeading">Login Form</h2>

        <mat-label class="radioBtnLbl">Slect your role</mat-label>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="role"
        >
          <mat-radio-button value="user">User</mat-radio-button>
          <mat-radio-button value="admin">Admin</mat-radio-button>
        </mat-radio-group>

        <!-- Email field -->
        <mat-form-field>
          <input
            matInput
            type="email"
            placeholder="Email address"
            formControlName="email"
            [errorStateMatcher]="matcher"
          >
          <mat-error *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
            Email is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').touched">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <!-- Password field -->
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            [errorStateMatcher]="matcher"
          >
          <mat-error *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
            Password is required
          </mat-error>
        </mat-form-field>
        <button mat-flat-button type="submit" color="primary" [disabled]="!loginForm.valid"> Sign In</button>
        <div class="toggle-form-link">
          <p>New User? <a routerLink="/register">Click Here</a></p>
        </div>
      </form>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>