/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Da 2', cursive;
}

main { padding: 1rem 0; }

mat-grid-tile form,
mat-grid-tile form mat-form-field,
mat-grid-tile form button { width: 100%; }

mat-grid-tile form {
    padding: 2rem;
    /* border: 1px solid lightgray; */
    border-radius: 5px;
    font-size: 1rem;
}

.formHeading {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.5rem;
    background-color: #673ab7;
    color: #fff;
    margin-bottom: 1rem;
    border-radius: 2px;
}

.toggle-form-link p {
    margin: 0;
    text-align: center;
}

.toggle-form-link p a {
    font-style: italic;
}

.searchForm {
    display: flex;
    border: none;
    padding: 0;
    align-items: center;
}

.searchForm mat-form-field {
    padding: 0 10px;
}

.material-icons { font-size: 21px; }